[Unit]
Description=Rust Application
[Service]
User={username}
# The configuration file application.properties should be here:#change this to your workspace
WorkingDirectory=/home/{user_name}/workspace#path to executable. 
#executable is a bash script which calls jar file
ExecStart=/home/{user_name}/workspace/startupSuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5[Install]
WantedBy=multi-user.target